

html,body 
	width: 100%
	height: 100%
	font-size: 80%
	color: #4e4e4e
	
*
	box-sizing: border-box

a
	&:focus
		outline: none
	&:hover 
		text-decoration: inherit

=fss 
	font-size: 1.2rem
	+phone 
		font-size: 1.6rem
=fs
	font-size: 1.6rem 
	letter-spacing: 0.1rem 
	line-height: 3.5rem
	
=fm 
	font-size: 2.2rem
	letter-spacing: 0.3rem
=fb
	font-size: 3rem
	letter-spacing: 0.4rem
h1 
	+fb
h2 
	+fs

=goCenter
	+transform(translate(-50%,-50%))
 
=graylinearBg 
	background-color: #858484
	@include filter-gradient(#858484, #616161, horizontal)
	@include background-image(linear-gradient(left, #858484 32%,#616161 65%))
.selectWrap
	position: relative
	display: block
	width: 20em
	height: 3em
	line-height: 3
	overflow: hidden
	// border-radius: .25em
	display: inline-block
	vertical-align: text-top
	margin-top: -12px	
	select  
		+appearance(none)
		outline: 0
		box-shadow: none 
		border: 0 !important
		background-image: none
		width: 100%
		height: 100%
		margin: 0
		padding: 0 0 0 .5em
		cursor: pointer
		font-size: 1.3rem
		background-color: transparent
		option 
			padding: 5px 0
	&:-ms-expand
		display: none
	&:after 
		content: '\25BC'
		position: absolute
		top: 0
		right: 0
		bottom: 0
		padding: 0 1em
		pointer-events: none
		+dTime(0.3s)


.btn
	cursor: pointer
	+border-radius(25px)
	// padding: .4em 2em	
	display: inline-block
	height: 50px
	line-height: 50px

	+dTime(.3s)

	&:hover 
		text-decoration: none

	&.grayBtn
		background-color: $gray
		color: #fff
		

	&.bigBtn	
		padding: 0 4em
		+fm
		letter-spacing: 0.4em	

.borderBtn
	cursor: pointer
	+border-radius(22.5px)
	height: 45px
	line-height: 45px
	padding: 0 50px
	display: inline-block
	overflow: hidden
	+dTime(.3s)
	position: relative
	&:before
		position: absolute
		width: 0
		height: 100%
		content: ''
		+dTime(0.3s)
		left: 0
		top: 0
		z-index: -1
		
	&.grayBtn
		border: 1px solid $gray
		color: black
		&:before
			background-color: $gray
		&:hover 
			&:before
				width: 100%
			color: white


	&.bigBtn	
		padding: .4em 4em
		font-size: 2em
		letter-spacing: 0.4em		

.mainContainer
	width: 100%
	height: 100%
	.pageContainer
		width: 100%
		position: relative
		&:nth-child(2n+1)
			background-color: #eaf2f4
			@include filter-gradient(#eaf2f4, #ece8ee, vertical)
			@include background-image(linear-gradient(top, #eaf2f4 0%,#ece8ee 100%))
		.gridContainer
			margin: 0 auto
			max-width: 1400px
			min-height: 650px
			padding: 120px 50px
.header
	position: fixed
	z-index: 5
	width: 100%
	height: 90px
	background-color: rgba(white,0.7)
	.phoneMenuBtn
		+pad2
			+bg('menuBtn.png')
			position: absolute
			top: 15px
			right: 15px

	.logo
		+bg('logo.png')
		position: absolute
		top: 10px
		left: 30px

		
	.mainMenu
		position: absolute
		right: 0
		top: 25px
		display: inline-block
		.selectWrap
			position: relative
			width: auto
			&:before 
				content: ''
				+bg('icon/earth.png')
				top: 9px
				left: 8px
				position: absolute
			select
				padding: 0 30px
				
		+pad2
			position: fixed
			width: 100%
			top: 0
			display: block
			height: 100%
			background-color: #eaf2f4
			@include filter-gradient(#eaf2f4, #ece8ee, vertical)
			@include background-image(linear-gradient(top, #eaf2f4 0%,#ece8ee 100%))
			+divGoVerticalCenter_forMom
			display: none
			.icon 
				display: none
			&.show
				display: block
			.clozBtn
				+bg('cloz.png')
				position: absolute
				top: 30px
				right: 30px
			.btnWrap
				position: relative
				+divGoVerticalCenter_forKid
				.menuBtn
					display: block
					text-align: center
					+fb
					&:not(:last-child)
						margin-bottom: 20px
				.selectWrap
					margin-top: 0
					height: 4em
					line-height: 4
					
					&:before 
						display: none
					select 
						+fb
						option
							font-size: 14px
						

		.menuBtn
			font-size: 1.3rem
			padding: 7px 15px
			display: inline-block
			+dTime(.2s)
			
			position: relative
			&:before
				position: absolute
				width: 100%
				height: 100%
				content: ''
				+dTime(0.3s)
				left: 0
				top: 0
				z-index: -1
				+opacity(0)
				+scale(0.5)
				background-color: $gray
				+border-radius(25px)
			&:hover 
				&:before
					+opacity(.2)
					+scale(1)
				// color: white
			&.boldBtn
				font-weight: bold
			.icon 
				margin-top: 0px
				margin-right: 2px
			

			
.partclieBg
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	// background-color: blue
	z-index: 0
	+ .gridContainer
		z-index: 1
		position: relative
#index 
	height: 100%
	+coverBg
	+bgi('indexbg.jpg')
	+phone 
		height: auto

	.gridContainer
		padding-top: 150px
		height: 100% 
		position: relative
		z-index: 2
		+divGoVerticalCenter_forMom
		.content
			+divGoVerticalCenter_forKid
			margin-top: 35px
			.pageTitle
				text-align: center
				h2 
					margin-top: 30px
				.bigBtn
					margin-top: 50px
					+graylinearBg
					+dTime(0.2s)
					&:hover 
						+opacity(0.9)
						+scale(1.05)
		.btnWrap	
			// display: inline-flex
			// justify-content: space-around
			margin-top: 100px
			text-align: center
			// flex-wrap: wrap
			+fs 
			.borderBtn
				display: inline-block
				box-sizing: border-box
				margin-bottom: 20px
				&:not(:last-child)
					margin-right: 15px
				+phone 
					width: 100%
					&:not(:last-child)
						margin-right: 0
			
#score
	.gridContainer
		padding: 60px 50px
		min-height: 0			
		.pageTitle
			text-align: center
			+fb
			margin-bottom: 50px								
		.scoreWrap
			text-align: center
			.scoreBox
				width: 200px
				height: 100px
				padding: 15px
				display: inline-block
				vertical-align: text-top
				margin: 0 15px		
				&.placeHolder
					height: 0
					visibility: hidden
			
#reward
	.gridContainer
		min-height: 0
		.pageTitle
			+fb
			text-align: center
		.content
			text-align: center
			+fss
			line-height: 3rem
			margin-top: 15px
			a
				display: inline-block
				position: relative
				padding: 0 5px
				&:after 
					content: ''
					position: absolute
					bottom: -1px
					width: 100%
					height: 2px
					left: 0px
					background-color: lightgray
				.icon 
					margin: 0.1em 10px 0 0  

				
			
#misson
	.gridContainer
		.content
			position: relative
			margin-bottom: 80px
			padding-right: 400px
			min-height: 350px
			.picWrap
				position: absolute
				height: 100%
				width: 100%
				top: 0	
				left: 0

				.pic
					+bg('earth.png')
					+containBg
					position: absolute
					top: 50%
					+transform(translateY(-50%))
					right: 0
					
			+pad2
				padding-right: 0
				.picWrap
					position: relative
					width: auto
					height: auto
					margin-bottom: 50px
					.pic
						position: relative
						top: 0
						+transform(translateX(-50%),translateY(0%))
						left: 50%
						

			
				
			// +pad
			// 	margin-bottom: 0
			// 	.pageTitle
			// 		width: 100%
			// 	.pic
			// 		position: relative
			// 		top: 0
			// 		margin: 50px auto
			// 		+transform(translateY(0%))
					
				
		.videoWrap
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			// margin: 0 auto
			.video
				+aspect-ratio(560,315)
				// width: 45%
				width: 80%
				position: relative
				+phone 
					width: 100%
					&:not(:last-child)
						margin-bottom: 50px
				iframe 
					position: absolute
					top: 0	
					left: 0
					width: 100%
					height: 100%
@include keyframes(show) 
	0% 
		opacity: 0

	100% 
		opacity: 0.4
 


@include keyframes(hide) 
	0% 
		opacity: 0.4

	100% 
		opacity: 0
 

.flipClockWrap		
	// text-align: center
	margin-top: 30px
	position: relative
	height: 130px
	.flipClock
		// width: auto
		position: absolute
		top: 0
		left: 50%
		+transform(translateX(-50%))

		width: 580px
		margin: 0 auto
		display: inline-block
		.flip-clock-dot
			background-color: #afafaf
		ul 
			margin: 2px
			li 
				a 
					div 
						div.inn
							background-color: #e9e9e9
							color: #575757
							text-shadow: 0 1px 2px #a2a2a2
							font-weight: lighter
		.flip-clock-divider 
			.flip-clock-label
				text-transform: uppercase
				top: auto
				bottom: -2em
				+fs
				right: -68px
				color: #b9b9b9
				+transform(translateX(50%))
#feature
	overflow: hidden
	.gridContainer
		.content
			padding-left: 45%
			position: relative
			z-index: 2
			.pic	
				position: absolute
				top: -288px
				left: -300px
				+bg('particlePic.png')
			+pad2 
				padding-left: 0
				.pic 
					+opacity(0.5)
					
		.featureWrap
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			margin-top: 90px
			position: relative
			z-index: 2
			
			.featureBox
				width: 19%
				margin-bottom: 15px
				.icon
					display: block
					// width: 116px
					// height: 142px
					// +containBg
					margin: 0 auto
					// margin-bottom: 30px
				h1 
					font-size: 1.8rem
					font-weight: bold
					text-align: center
					letter-spacing: inherit
				h2 
					font-size: 1.3rem
					letter-spacing: 0.1rem
					margin-top: 10px
					text-align: center
					line-height: 2.5rem

			+pad2
				max-width: 600px
				margin: 50px auto 0
				.featureBox
					width: 40%

#planning
	.gridContainer
		.content
			text-align: center
			.pageTitle
				+fb 
				text-align: center
			.plenWrap
				// margin: 250px 0
				// text-align: center
				display: inline-block
				// margin: 0 auto
				position: relative
				padding: 0px 80px
				
				.planBox
					display: inline-block
					position: relative
					vertical-align: text-top
					margin: 220px 0
					margin-right: 90px

					&:last-child
						margin-right: 0
						.line 
							display: none
						.icon 
							.i_year
								font-size: 1.4rem
								margin-top: 0

					&:nth-child(2n)						
						.line
							+transform(rotate(-30deg))
						.icon 
							+bg('dot2.png')
							color: #613e69
					.icon 
						
						+bg('dot1.png')
						position: relative
						z-index: 1
						display: flex
						text-align: center
						font-weight: bold
						justify-content: center
						align-items: center
						flex-wrap: wrap
						color: #294a69
						line-height: 1.4rem
						.i_year
							font-size: 1.2rem
							margin-top: .2rem
						
							
						.i_month
							font-size: 1.4rem
							margin-top: -2.2rem
							min-width: 50px
					.line	
						position: absolute
						top: 50%
						left: 50%
						width: 150px
						height: 1px
						background-color: $gray
						z-index: 0
						+transform(rotate(30deg))
						+transform-origin(0,0.5px)
					.txtBox
						position: absolute
						width: 250px
						left: 50%
						+transform(translateX(-50%))
						text-align: left
						ul 
							padding-left: 20px
							list-style-type: disc
							+fss

					&:nth-child(2n+1)
						top: -40px
						.txtBox
							bottom: calc(100% + 15px)
							
					&:nth-child(2n)
						top: 50px
						.txtBox 
							top: calc(100% + 15px)
							

				+pad 
					max-width: 800px
					.planBox
						&:nth-child(4n)
							.line 
								display: none
				+phone
					margin-top: 50px
					.planBox
						margin: 0
						width: 100%	
						margin-bottom: 40px
						&:last-child
							margin-bottom: 0
						&:nth-child(2n+1)
							top: 0
							left: -20px

						&:nth-child(2n)
							top: 0
							left: 20px
						.line 
							display: none
						.icon 
							position: absolute
							top: 0
							left: 0

						.txtBox
							position: relative
							top: 0
							left: 0
							width: 100%
							+transform(translateX(0%))
							padding-left: 70px
							min-height: 68px
							
#team
	.gridContainer						
		.content
			.pageTitle
				text-align: center
				+fb
				margin-bottom: 50px
			.teamWrap
				
				.category
					+fm 
					position: relative
					margin-bottom: 50px
					
					&:after 
						content: ''
						position: absolute
						width: 100%
						height: 2px
						background-color: #ddd
						bottom: -3px
						left: 0
				.memberWrap
					display: flex
					flex-wrap: wrap
					vertical-align: top
					justify-content: space-around

					.placeHolder
						visibility: hidden
						height: 0
						border: none
						margin: 0
						
					.memberBox
						width: 350px
						margin-bottom: 50px
						position: relative
						.m_pic
							width: 175px
							height: 203px
							display: block
						.hexagon
							overflow: hidden
							visibility: hidden
							-webkit-transform: rotate(120deg)
							-moz-transform: rotate(120deg)
							-ms-transform: rotate(120deg)
							-o-transform: rotate(120deg)
							transform: rotate(120deg)
							.hexagon-in
								overflow: hidden
								width: 100%
								height: 100%
								-webkit-transform: rotate(-60deg)
								-moz-transform: rotate(-60deg)
								-ms-transform: rotate(-60deg)
								-o-transform: rotate(-60deg)
								transform: rotate(-60deg)
								> div 
									width: 100%
									height: 100%
									background-repeat: no-repeat
									background-position: 50%
									visibility: visible
									-webkit-transform: rotate(-60deg)
									-moz-transform: rotate(-60deg)
									-ms-transform: rotate(-60deg)
									-o-transform: rotate(-60deg)
									transform: rotate(-60deg)
									+coverBg

						.m_info
							position: absolute
							left: 186px
							top: 93px
							height: 0
							width: 0
							.m_title
								display: block
								position: absolute
								bottom: 0
								left: 3px
								width: 120px
								+fss
							.m_nameBox
								position: absolute
								top: 0
								left: 0
								width: 150px
								line-height: 2.5rem
								.m_name
									display: inline-block
									vertical-align: text-top  
									+fm
									letter-spacing: normal
								.icon
									vertical-align: text-top 
									margin-top: 3px
									margin-left: 4px
								
						.m_intro
							margin-top: 15px
							line-height: inherit
							ul 
								list-style-type: disc
								padding-left: 25px
								li 
									+fss
									// line-height: 1.8rem

	
#vendor
	.gridContainer			
		.pageTitle
			text-align: center
			+fb
			margin-bottom: 50px								
		.vendorWrap
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			.vendorBox
				width: 270px
				height: 170px
				padding: 15px
				display: inline-flex
				justify-content: center
				align-items: center
				vertical-align: text-top
				
				+phone 
					width: 240px
				&.placeHolder
					height: 0
					visibility: hidden

					
#contact
	.gridContainer
		min-height: auto
		padding: 50px 25px
		.contentWrap
			+phone 
				padding: 0 50px
			.contentBox
				display: inline-block
				vertical-align: text-top
				width: 33%
				
				+phone
					width: 100%
					&:not(:last-child)
						margin-bottom: 50px
				&.contactInfoBox
					.c_Wrap
						.c_info
							display: block
				.c_title
					+fm
					font-weight: bold
					width: 100%
					position: relative
					margin-bottom: 50px
					padding-left: 15px
					&:after 
						content: ''
						position: absolute
						bottom: -15px
						left: 0
						width: calc(100%  + 5px)
						height: 2px
						background-color: $gray
				.c_Wrap
					position: relative
					padding: 0 15px
					width: 100%
					&:after
						content: ''
						position: absolute
						height: 100%
						width: 1px
						background-color: $gray
						top: 0
						left: 2px
					.c_info
						+fs
						display: inline-block
						vertical-align: text-top
						padding: 0px 5px
						min-width: 120px
						&:hover 
							text-decoration: underline
						.icon	
							display: inline-block
							margin-right: 5px
							vertical-align: text-top
							margin-top: 2px


#chart
	.gridContainer
		.stepContainer
			.pageTitle
				+fb 
				text-align: center
			.stepWrap
				display: flex
				margin-top: 30px
				.stepBox
					background-color: #e9e9e9		
					padding-top: 40px
					width: 34%
					text-align: center
					position: relative
					height: 250px
					&:after 
						pointer-events: none
						left: 100%
						top: 50%
						border: solid transparent
						content: " "
						height: 0
						width: 0
						position: absolute
						pointer-events: none
						border-color: rgba(136, 183, 213, 0)
						border-left-color: #e9e9e9	
						border-width: 125px
						margin-top: -125px
						z-index: 2
						+scaleX(.3)
						+transform-origin(0,0)
					&:last-child:after 
						display: none
					&:nth-child(2n)
						background-color: #f6f4f4
						&:after 
							border-left-color: #f6f4f4
					// .pic 
					// 	margin: 0 auto
					// 	&.p1
					// 		+bg('step1.png')
					// 	&.p2 
					// 		+bg('step2.png') 
					// 	&.p3
					// 		+bg('step3.png') 
					.stepDate
						.stepTxt
							+fm
							letter-spacing: auto
							.numTxt
								+fb
								// vertical-align: text-bottom
					.dateTxt
						+fss
						margin-top: -5px
						
					h1  
						+fm
						margin-top: 15px
					h2 
						+fss
				
				+pad2
					flex-wrap: wrap
					width: 550px
					margin-left: auto
					margin-right: auto
					
					.stepBox 
						width: 100%
						height: auto
						padding: 90px 20px 0 
						&:after 
							left: 50%
							top: 100%
							border: solid transparent
							position: absolute
							pointer-events: none
							border-color: rgba(136, 183, 213, 0)
							border-top-color: #e9e9e9	
							border-width: 275px
							margin-top: 0
							margin-left: -275px
							z-index: 2
							+scaleX(1)
							+scaleY(.15)
							+transform-origin(0,0)
						&:last-child
							padding-bottom: 50px
						&:first-child
							padding-top: 50px
						&:nth-child(2n)
							&:after 
								border-left-color: transparent
								border-top-color: #f6f4f4 

		.chartContainer
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			width: 100%
			margin-top: 50px
			.chartWrap
				.chartTitle
					+fb
					text-align: center
					// margin-bottom: 50px
				.chartBox
					margin: 80px 0
					width: 400px
					height: 400px
					position: relative
					.chart
						width: 100%
						height: 100%
					.chatDataWrap
						position: absolute
						width: 100%
						height: 100%
						top: 0
						left: 0
						z-index: 2
						.chartData
							position: absolute
							height: 10px
							top: 2px
							left: 2px
							&.dot_small
								&:after 
									width: 12px
									height: 12px
							&.dot_mid
								&:after 
									width: 20px
									height: 20px
							&.dot_big
								&:after 
									width: 30px
									height: 30px
							&:after 
								content: ''
								+border-radius(50%)
								background-color: $gray
								position: absolute
								top: 0
								left: 0
								+goCenter
							.txtBox 
								position: absolute
								.dotName
									width: 150px
									+fss
									line-height: normal
									margin-top: -8px
								.rate
									+fm
									letter-spacing: normal
									&:after 
										content: '%'
										+fs
							&.c1
								&:after 
									background-color: #7e7e7e
							&.c2
								&:after 
									background-color: #a3a3a3
							&.c3
								&:after 
									background-color: #626262
							&.c4
								&:after 
									background-color: #d2d2d2
							&.c5
								&:after 
									background-color: #626262
							&.c6
								&:after 
									background-color: #808080
							&.c7
								&:after 
									background-color: #d2d2d2
							

.chartBox
	.chart
		.ct-slice-donut 
			stroke-width: 5px!important
		.ct-series-a .ct-slice-donut
			stroke: #7e7e7e
		.ct-series-b .ct-slice-donut
			stroke: #a3a3a3
		.ct-series-c .ct-slice-donut
			stroke: #626262
		.ct-series-d .ct-slice-donut
			stroke: #d2d2d2
		.ct-series-e .ct-slice-donut
			stroke: #626262
		.ct-series-f .ct-slice-donut
			stroke: #808080
		.ct-series-g .ct-slice-donut
			stroke: #d2d2d2
		.ct-series-h .ct-slice-donut
			stroke: #808080
		.ct-series-i .ct-slice-donut
			stroke: #d2d2d2
		
		
	&.cb1
		.chatDataWrap
			.chartData
				.txtBox
					text-align: right
					right: 0
					top: 0
			.c1 
				.txtBox
					left: 20px
					top: -20px
					text-align: left
					right: auto
			.c2
				.txtBox
					right: 22px
					top: -10px
			.c3 
				.txtBox
					right: 22px
					top: -10px
			.c4 
				.txtBox
					right: 22px
					top: -10px
			.c5 
				.txtBox
					right: 22px
					top: -45px
			.c6 
				.txtBox
					right: 6px
					top: -60px
			.c7 
				.txtBox
					top: auto
					bottom: 30px
					right: auto
					left: 0
					text-align: left

	&.cb2
		.chatDataWrap
			.chartData
				.txtBox
					text-align: right
					right: 0
					top: 0
			.c1 
				.txtBox
					left: 20px
					top: -20px
					text-align: left
					right: auto
			.c2
				.txtBox
					right: auto
					text-align: left
					top: 20px
					left: 0

			.c3 
				.txtBox
					right: 22px
					top: -10px
			
			.c4 
				.txtBox
					right: 6px
					top: -60px
						


.popPage
	background-color: rgba(black,0.6)
	z-index: 5
	overflow-y: scroll
	position: fixed
	padding: 50px 25px
	
	.gridContainer
		margin: 0 auto
		max-width: 1200px
		min-height: 650px
		padding: 120px 50px
		background-color: white
		+border-radius(15px)
		position: relative
		border: 1px solid $gray
		.clozBtn
			+bg('cloz.png')
			position: absolute
			top: 15px
			right: 15px
			cursor: pointer
		
#qa					
	.gridContainer
		+bgi('indexbg.jpg')
		background-repeat: no-repeat
		background-position: 0 0
		.content
			.pageTitle
				+fb
				text-align: center
				margin-bottom: 50px
			.qaBox
				.qBox
					+fs
					line-height: inherit
					position: relative
					padding: 15px 50px 15px 15px
					margin-top: 30px
					letter-spacing: normal
					&:after 
						background-color: lightgray
						width: 100%
						height: 2px
						position: absolute
						left: 0
						bottom: -2px
						content: ''
					.openBtn
						+bg('arr.png')
						cursor: pointer
						position: absolute
						right: 0
						top: 10px
						+dTime(0.3s)
						+rotate(180deg)
					
				.aBox
					+fs
					line-height: inherit
					padding: 0 50px 0 15px
					font-weight: bold
					max-height: 0
					overflow: hidden
					+dTime(0.6s)
					letter-spacing: normal
				&.open
					.aBox 
						padding: 15px 50px 15px 15px
						max-height: 350px
					.qBox 
						.openBtn
							+rotate(0deg)

.back2topBtn
	cursor: pointer
	+dTime(.3s)
	position: fixed
	right: -80px
	bottom: 50px
	+bg('back2Top.png')
	z-index: 4
	&.show
		right: 0
	&:hover 
		right: -5px
		+dTime(.1s)
		
#socialWrap
	+phone 
		display: none
	position: fixed
	right: 0px
	top: 50%
	+transform(translateY(-50%))
	z-index: 5
	* + *
		margin-top: 10px
	a 
		display: block
		+dTime(0.2s)
		+scale(0.7)
		&:hover 
			+scale(1)
